svg {
  background-color: #F8F8F8;
  border: 1px solid #A0A0A0;
}
.point {
  stroke: #424242;
  stroke-width: 1px;
}

.point.active {
  stroke: green;
}
.point.selected {
  stroke: #424242;
  stroke-width: 2px;
}
.point.newly-selected {
  stroke: #730000;
  stroke-width: 2px;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: red;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}